/* Soldier list */
.soldier-list {
  /* text-align: left; */
  /* width: 1500px; */
  /* table-layout: fixed; */
}

.soldier-list tr {
  /* height: 40px; */
}

.banner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.banner > img {
  margin: 20px;
}